#book_animation{
    display: block;
}
/* .h1, .h2, .h3, .h4, .h5, .h6, .heading, .heading--big, .heading--huge, .heading--large, .heading--medium, .heading--normal, .heading--small, .heading--tiny, .heading--white, .plan-box--up-to, h1, h2, h3, h4, h5, h6 {
    color: #0c022f;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-weight: 900;
    line-height: 1.2;
    word-break: break-word;
} */
.boxes--alternating, .boxes--pair, .row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.mr--0 {
    margin-right: 0!important;
}
.ml--0 {
    margin-left: 0!important;
}
.mb--0 {
    margin-bottom: 0!important;
}
.pt--6 {
    padding-top: 6px;
}
.box {
    background: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 40px 0 rgba(47,47,47,.1);
    display: block;
    padding: 2rem;
    position: relative;
    transition: all .2s linear;
}
@media (min-width: 75em){
    .box {
        padding: 2.5rem;
    }
}
.box--noshadow {
    box-shadow: none;
}
.kinsta-book {
    cursor: pointer;
    margin: auto;
    max-width: 45vw;
    position: relative;
    transform: rotateX(10deg) rotateY(-10deg);
}
@media only screen and (max-width: 64em) {
    .kinsta-book {
        margin-left: auto;
        margin-right: auto;
    }
}

.button--ghost--white{
    background-color: #ff622c;
    border: 2px solid transparent;
    border-radius: 80px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 33px;
    text-decoration: none;
    text-transform: none;
    transition: all .12s linear;
    white-space: nowrap;
}
#book_animation .button--ghost--white {
    background-color: transparent;
    border-color: #ebf0f7;
    color: #ebf0f7;
}
#book_animation .button--ghost--white:hover {
    background-color: #ff622c;
    border-color: #ebf0f7;
    color: #ebf0f7;
}
.kinsta-book--3d,
.kinsta-book--3d-tilted {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform-style: preserve-3d;
}
.kinsta-book--3d .kinsta-book__cover--front,
.kinsta-book--3d-tilted .kinsta-book__cover--front {
    transform: rotateY(-28deg) translateX(4px) translateZ(7px);
    transition: transform 0.8s ease, z-index 0.6s;
}
.kinsta-book--3d {
    transform: rotateX(0) rotateY(-10deg);
}
.kinsta-book--3d-tilted {
    transform: rotateX(0) rotateY(5deg) rotate(10deg);
}
@media only screen and (min-width: 64em) {
    .kinsta-book--3d-tilted {
        transform: rotateX(0) rotateY(5deg) rotate(10deg) translateX(30px);
    }
}
.kinsta-book--animated {
    animation: spaceFloating 10s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.kinsta-book__cover,
.kinsta-book__page,
.kinsta-book__pages {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    width: 100%;
}
.kinsta-book__cover,
.kinsta-book__page {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    transform-origin: 0 100%;
}
.kinsta-book__cover--front {
    background-color: #c7c3be;
    position: relative;
}
.kinsta-book__cover--front figure {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    perspective: 1000;
}
.kinsta-book img {
    display: block;
}
.kinsta-book__cover--back {
    background-color: #c7c3be;
    transform: rotateY(-20deg) translateZ(-10px);
}
.kinsta-book__pages {
    height: 98%;
    left: 2%;
    top: 1%;
    width: 100%;
    z-index: 10;
}
.kinsta-book__page {
    background: linear-gradient(90deg, #f6f6f6, #fff);
    box-shadow: inset 0 -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0 1px hsla(0, 0%, 59%, 0.2);
    overflow: hidden;
    transform-origin: left center;
    transition-property: transform;
    transition-timing-function: ease;
}
.kinsta-book__page:first-child {
    transform: rotateY(-27deg);
    transition-duration: 0.6s;
}
.kinsta-book__page:nth-child(2) {
    transform: rotateY(-26deg);
    transition-duration: 0.6s;
}
.kinsta-book__page:nth-child(3) {
    transform: rotateY(-25deg);
    transition-duration: 0.6s;
}
.kinsta-book__page:nth-child(4) {
    transform: rotateY(-24deg);
}
.kinsta-book__page:nth-child(5) {
    transform: rotateY(-23deg);
}
.kinsta-book__spine {
    background-color: #c7c3be;
    height: 100%;
    position: absolute;
    transform: rotateY(-80deg) translateX(0);
    transform-origin: 0 100%;
    width: 17px;
}
.kinsta-book--3d-tilted:hover,
.kinsta-book--3d:hover {
    animation-play-state: paused;
}
.kinsta-book--3d-tilted:hover .kinsta-book__cover--front,
.kinsta-book--3d:hover .kinsta-book__cover--front {
    transform: rotateY(-80deg) translateX(4px) translateZ(1px);
    z-index: 0;
}
.kinsta-book--3d-tilted:hover .kinsta-book__page:first-child,
.kinsta-book--3d:hover .kinsta-book__page:first-child {
    transform: rotateY(-80deg);
    transition-duration: 1.2s;
}
.kinsta-book--3d-tilted:hover .kinsta-book__page:nth-child(2),
.kinsta-book--3d:hover .kinsta-book__page:nth-child(2) {
    transform: rotateY(-78deg);
    transition-duration: 1.4s;
}
.kinsta-book--3d-tilted:hover .kinsta-book__page:nth-child(3),
.kinsta-book--3d:hover .kinsta-book__page:nth-child(3) {
    transform: rotateY(-76deg);
    transition-duration: 1.5s;
}
.kinsta-book--3d-tilted:hover .kinsta-book__page:nth-child(4),
.kinsta-book--3d:hover .kinsta-book__page:nth-child(4) {
    transform: rotateY(-24deg);
}
.kinsta-book--3d-tilted:hover .kinsta-book__page:nth-child(5),
.kinsta-book--3d:hover .kinsta-book__page:nth-child(5) {
    transform: rotateY(-23deg);
}
.kinsta-book-description {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    text-align: center;
}
@media screen and (min-width: 1024px) {
    .kinsta-book-description {
        max-width: 260px;
    }
}
.kinsta-book-description__content {
    margin-top: 14px;
}
@keyframes spaceFloating {
    0% {
        transform: rotateX(10deg) rotateY(-10deg) rotate(-5deg) translateY(-10px);
    }
    50% {
        transform: rotateX(10deg) rotateY(5deg) rotate(10deg) translateY(30px);
    }
    to {
        transform: rotateX(10deg) rotateY(-10deg) rotate(-5deg) translateY(-10px);
    }
}
kinsta-advanced-cta {
    clear: both;
    display: block;
}
.advanced-cta-wrapper .cta--color--turquoise,
.advanced-cta-wrapper .has-turquoise-color {
    color: #2cd4d9;
}
.advanced-cta-wrapper .cta--bg--turquoise,
.advanced-cta-wrapper .has-turquoise-background-color {
    background-color: #2cd4d9;
}
.advanced-cta-wrapper .cta--color--purple,
.advanced-cta-wrapper .has-purple-color {
    color: #5333ed;
}
.advanced-cta-wrapper .cta--bg--purple,
.advanced-cta-wrapper .has-purple-background-color {
    background-color: #5333ed;
}
.advanced-cta-wrapper .cta--color--blue,
.advanced-cta-wrapper .has-blue-color {
    color: #150773;
}
.advanced-cta-wrapper .cta--bg--blue,
.advanced-cta-wrapper .has-blue-background-color {
    background-color: #150773;
}
.advanced-cta-wrapper .cta--color--light-blue,
.advanced-cta-wrapper .has-light-blue-color {
    color: #fbfdff;
}
.advanced-cta-wrapper .cta--bg--light-blue,
.advanced-cta-wrapper .has-light-blue-background-color {
    background-color: #fbfdff;
}
.advanced-cta-wrapper .cta--color--dark-blue,
.advanced-cta-wrapper .has-dark-blue-color {
    color: #0c022f;
}
.advanced-cta-wrapper .cta--bg--dark-blue,
.advanced-cta-wrapper .has-dark-blue-background-color {
    background-color: #0c022f;
}
.advanced-cta-wrapper .cta--color--gold,
.advanced-cta-wrapper .has-gold-color {
    color: #ff961f;
}
.advanced-cta-wrapper .cta--bg--gold,
.advanced-cta-wrapper .has-gold-background-color {
    background-color: #ff961f;
}
.advanced-cta-wrapper .cta--color--green,
.advanced-cta-wrapper .has-green-color {
    color: #d4f5bc;
}
.advanced-cta-wrapper .cta--bg--green,
.advanced-cta-wrapper .has-green-background-color {
    background-color: #d4f5bc;
}
.advanced-cta-wrapper .cta--color--red,
.advanced-cta-wrapper .has-red-color {
    color: #ed1c24;
}
.advanced-cta-wrapper .cta--bg--red,
.advanced-cta-wrapper .has-red-background-color {
    background-color: #ed1c24;
}
.advanced-cta-wrapper .cta--color--white,
.advanced-cta-wrapper .has-white-color {
    color: #ebf0f7;
}
.advanced-cta-wrapper .cta--bg--white,
.advanced-cta-wrapper .has-white-background-color {
    background-color: #fff;
}
.advanced-cta-wrapper .cta--color--offwhite,
.advanced-cta-wrapper .has-offwhite-color {
    color: #fafafa;
}
.advanced-cta-wrapper .cta--bg--offwhite,
.advanced-cta-wrapper .has-offwhite-background-color {
    background-color: #fafafa;
}
.advanced-cta-wrapper .cta--color--gray,
.advanced-cta-wrapper .has-gray-color {
    color: #e1eaf8;
}
.advanced-cta-wrapper .cta--bg--gray,
.advanced-cta-wrapper .has-gray-background-color {
    background-color: #e1eaf8;
}
.advanced-cta-wrapper .cta--color--light-gray,
.advanced-cta-wrapper .has-light-gray-color {
    color: #f9f9fb;
}
.advanced-cta-wrapper .cta--bg--light-gray,
.advanced-cta-wrapper .has-light-gray-background-color {
    background-color: #f9f9fb;
}
.advanced-cta-wrapper .cta--color--medium-gray,
.advanced-cta-wrapper .has-medium-gray-color {
    color: #999;
}
.advanced-cta-wrapper .cta--bg--medium-gray,
.advanced-cta-wrapper .has-medium-gray-background-color {
    background-color: #999;
}
.advanced-cta-wrapper .cta--color--dark-gray,
.advanced-cta-wrapper .has-dark-gray-color {
    color: #44414e;
}
.advanced-cta-wrapper .cta--bg--dark-gray,
.advanced-cta-wrapper .has-dark-gray-background-color {
    background-color: #44414e;
}
.advanced-cta-wrapper .cta--color--dove-gray,
.advanced-cta-wrapper .has-dove-gray-color {
    color: #f3f3f6;
}
.advanced-cta-wrapper .cta--bg--dove-gray,
.advanced-cta-wrapper .has-dove-gray-background-color {
    background-color: #f3f3f6;
}
.advanced-cta-wrapper .cta--color--success,
.advanced-cta-wrapper .has-success-color {
    color: #30b00f;
}
.advanced-cta-wrapper .cta--bg--success,
.advanced-cta-wrapper .has-success-background-color {
    background-color: #30b00f;
}
.advanced-cta-wrapper .cta--color--error,
.advanced-cta-wrapper .has-error-color {
    color: #e43c3c;
}
.advanced-cta-wrapper .cta--bg--error,
.advanced-cta-wrapper .has-error-background-color {
    background-color: #e43c3c;
}
.advanced-cta-wrapper .cta--color--green,
.advanced-cta-wrapper .has-green-color {
    color: #ff622c;
}
.advanced-cta-wrapper .cta--bg--green,
.advanced-cta-wrapper .has-green-background-color {
    background-color: #2cd4d9;
}
.advanced-cta-wrapper .cta--bg--mask {
    background-image: linear-gradient(-30deg, rgba(0, 0, 77, 0.8), rgba(83, 51, 237, 0.8) 49%, rgba(44, 212, 217, 0.8));
}
.advanced-cta-wrapper .cta--bg--gradient--dark-light-blue {
    background-image: linear-gradient(-30deg, #00004d, #5333ed 49%, #2cd4d9);
}
.advanced-cta-wrapper .cta--bg--gradient--purple-light-blue {
    background-image: linear-gradient(-30deg, #24035b, #7533ed 49%, #2ca2d9);
}
.advanced-cta-wrapper .cta--bg--gradient--ebook {
    background-image: linear-gradient(180deg, #377792, #1e2865);
}
.advanced-cta-wrapper .cta--bg--image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.advanced-cta-wrapper .cta--bg--image-top {
    background-position-y: top;
}
.advanced-cta-wrapper .cta--bg--image-center {
    background-position-y: center;
}
.advanced-cta-wrapper .cta--bg--image-bottom {
    background-position-y: bottom;
}
.advanced-cta-wrapper .cta--ebook {
    max-width: 250px !important;
}
.advanced-cta-wrapper .cta-img {
    display: unset !important;
}
.advanced-cta-wrapper .cta-in-article-heading {
    font-size: 2rem;
}
.advanced-cta-wrapper .align-self-flex-end {
    align-self: flex-end;
}
.advanced-cta-wrapper .align-self-flex-start {
    align-self: flex-start;
}
.advanced-cta-wrapper .align-self-center {
    align-self: center;
}
.advanced-cta-wrapper .flex-direction-column-reverse {
    flex-direction: column-reverse !important;
    flex-wrap: nowrap !important;
}
.advanced-cta-wrapper .display--table {
    display: table;
}
@media only screen and (min-width: 48em) {
    .advanced-cta-wrapper .flex-direction-column-reverse {
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
}
.hide{
    display: none;
    transition-delay: 0.1s;
    transition: all 200ms linear;
}
.advanced-cta-wrapper .cta--ebook:hover + .hide {
    margin-top: 5px;
   text-align: center;
   display: block;
   color: #ebf0f7;
}