/*===============================
 	Map Style Start Here 
=================================*/
/* Canvas container */
.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.intro {
	background: #181922f2;
	color: #fff;
	font-size: 2em;
    font-style: italic;
	text-align: center;
	z-index: 1000;
	position: relative;
	padding: 3em;
	height: 100vh;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 0 0 3em;
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.intro blockquote {
	max-width: 800px;
	margin: 0 auto;
}

.intro em {
    color: #ffffff;
	font-size: 1.5em;
}

.intro span {
	color: #464B4B;
	display: block;
	padding: 1em 0;
}
/* Content */
.content {
	padding: 3em 0;
}
/* Story */
.text {
	position: relative;
	padding: 5em 3em;
	z-index: 1000;
}

.text section {
	font-size: 1.25em;
	line-height: 1.7;
}

.text section h2 {
	font-weight: 400;
	font-size: 2.7em;
	margin: 0;
	text-align: left;
}

.text section:not(:first-child) h2 {
	padding: 2em 0 0 0;
}

.title-up {
	text-transform: uppercase;
	display: block;
	font-size: 0.365em;
	font-weight: bold;
	letter-spacing: 7px;
	color: #CECEC5;
}

.title-down {
	font-weight: 400;
	color: #5F646C;
	font-size: 1.35em;
	line-height: 0.9;
	padding: 0.15em 0 0.35em;
	display: block;
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.text figure {
	margin: 1em 0 2em;
}

.text figure img {
	max-width: 100%;
}

.text figcaption {
	font-style: italic;
	font-size: 0.85em;
	text-align: center;
	padding: 1em 1.5em 0;
	color: #5F646C;
}

.text section p {
	color: #181922;
	font-size: 0.95em;
	margin: 0.5em 0 1.5em;
}

.text section p.text-intro {
    margin: 0.5em 0 1.25em;
	font-style: italic;
	font-size: 1.3em;
	color: #9D9C95;
	text-align: left;
	line-height: 1.5;
}

.text blockquote {
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 2em;
	line-height: 1.5;
	position: relative;
	color: #939997;
	text-align: left;
}

.text blockquote::before {
	content: "\201C";
	position: absolute;
	right: 100%;
	font-size: 2.5em;
	font-style: italic;
	top: -0.15em;
	color: #F0F3F3;
	margin: 0 0.075em 0 0;
	line-height: 1;
}

.text blockquote span {
	font-size: 0.5em;
	color: #CBCECE;
	white-space: nowrap;
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.js-section {
	width: 50%;
	max-width: 700px;
}

.js-gallery {
	padding-top: 50px;
	padding-bottom: 50px;
}

.js-gallery-content {
	text-align: center;
	font-size: 0;
}

.js-gallery-content img {
	max-width: 100%;
	margin: 10px 0;
}

body #cdawrap {
	background: rgba(0,0,0,0.4);
	border: none;
	top: 15px;
	--cda-sp-color: #ddd;
	--cda-remove-color: #ddd;
}

body #cdawrap .carbon-text {
	color: #ddd;
}

@media(max-width: 720px) {
	.header-title {
		font-size: 1.5em;
	}
	.intro {
		font-size: 1.25em;
		padding: 1em;
		height: auto;
	}
	.text {
		padding: 2em;
		font-size: 0.85em;
		text-align: justify;
	}
	.text section h2 {
		font-size: 1.85em;
	}
	.text blockquote {
		font-size: 1.45em;
	}
	.js-section {
		width: 100%;
		max-width: none;
	}
}
/*===============================
 	Map Style End Here 
=================================*/