body {
    font-size: 18px;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/groovepaper.png");
    font-family: 'Gelasio', serif;
  }
  
  
  #OldBook {
    background-color: #f8f3eb;
    color: #0e0e23;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    width:100%;
    margin-left : auto;
    margin-right: auto;
  }
  
  #OldBook div {
    width: 100%;
    padding: 6rem 5rem;
  }
  #OldBook #dots {
    color: #ffffff;
  }
  #OldBook #more {
    color: #0e0e23;
    display: none;
  }
  #OldBook #more i{
    color: #ffffff;
  }
  #OldBook h2 {
    color: #0e0e23;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 3rem;
  }
  #OldBook h1 {
    color: #0e0e23;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    letter-spacing: .1rem;
  }
  #OldBook button{
    font-size: 16px;
    color: #0e0e23;
    margin-top: 1rem;
    font-weight: 600;
    transition: 0.5s;
    line-height: 25px;
    padding: 11px 33px;
    text-align: center;
    border-radius: 80px;
    transition-delay: 0.1s;
    text-transform: capitalize;
    border: 1px solid #0e0e23;
    transition: all 200ms linear;
    background-color: transparent;
    text-transform: capitalize;
  }
  #OldBook button:hover{
    color: #ebf0f7;
    background-color: #ff622c;
    border: 1px solid #ff622c;

  }
  #OldBook .right-page {
    margin-top: 0;
    padding-top: 0;
    z-index: 999;
  }
  #OldBook .right-page p {
    color: #0e0e23;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
  }
  
  #OldBook .right-page p:first-letter {
      font-family: 'Ibarra Real Nova', serif;
      font-size: 4.5rem;
      float: left;
      margin-top: .5rem;
      margin-right: 1rem;
      line-height: .7;
  }
  
  #OldBook .left-page {
      text-align: center;
      padding-top: 4rem;
  }
  
  #OldBook .left-page small {
    font-style: italic;
  }
  
  #OldBook .left-page img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  @media screen and (min-width: 900px) {
    #OldBook {
      flex-direction: row;
      width: 100%;
      max-width: 1800px;
    }
    #OldBook div {
      width: 50%;
    }
    #OldBook .left-page {
      padding-top: 14rem;
    }
    #OldBook .right-page {
      padding-top: 5rem;
      max-height: 100%;
      min-height: 100vh;
    }
  }