#testimonial {
	display: flex; 
	align-items: center;	
	flex-direction: column; 
	justify-content: space-around; 
	height: 100vh; 
	font-family: "Roboto Condensed", sans-serif; 
	color: #ebf8ff; 
	background-color: #4b5d6e; 
	text-transform: uppercase; 
	overflow: hidden;
	position: relative;
}

/* QUOTES & TESTIMONIALS ON ABOUT PAGE */
#testimonial .quote-container {display: none; width: 70vw; text-rendering: optimizeLegibility;	font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-osx-fon-smoothing: grayscale}
#testimonial .quote-body {max-width: 72ch; font-weight: 300 !important; font-size: 3em !important; line-height: 1 !important; margin: 1.5em auto}
#testimonial .quote-author {font-family: "SofiaProSemiBoldCond", sans-serif !important; font-size: .8rem !important; margin: 0 !important; padding-left: 0}
#testimonial .quote-author::before {content: "⸻ "}
#testimonial .author-credentials {color: #ebf8ff; font-family: "SofiaProMedCond", sans-serif !important; font-size: .65rem !important; text-transform: uppercase !important}

#testimonial .quote-number {font-family: "SofiaProMediumCond", sans-serif !important; font-size: .8rem !important; color: var(--colour-rm-gold, #a2936f) !important; position: absolute; left: 5%; top: 40%}
#testimonial .quote-number sup {font-size: 3rem !important; margin-right: -1.2rem} 
#testimonial .quote-number sub {font-size: 1.5rem !important}

#testimonial .quote-number-bg {
	font-family: "Californya B", sans-serif !important; 
	font-size: /* 30rem */ 15rem !important; 
	color: var(--colour-lighter-grey, #CCC) !important; 
	position: absolute; 
	right: 30%; top: -10%; 
	opacity: .05; 
	text-align: right;
}
/* QUOTES */
#testimonial q {quotes: '\201C' '\201D' '\2018' '\2019'; font-style: italic; display: inline-block; hanging-punctuation: first;color: #0e0e23;}
#testimonial q:before {content: open-quote; position: relative; left:-.5%; margin-left: -2.5%; color: inherit}
#testimonial q:after {content: close-quote; color: inherit}
#testimonial q.larger-quote {font-weight: 100; font-size: 1.1em; line-height: 1.3}
#testimonial q.larger-quote:before, q.larger-quote:after {font-size: 1.75em; line-height: .3; top: .2em}
#testimonial q.larger-quote:before {left: -2%}
#testimonial .butler q {font-family: 'Butler', serif !important}
#testimonial blockquote, q {margin-right: 1rem}

/* NAVIGATION DOTS */ 
#testimonial .nav {position: relative; margin: 0 0 0 3em}
#testimonial .nav__item {line-height: 1; position: relative; display: inline-block;	margin: 0; padding: 0; letter-spacing: 0; color: currentColor; border: 0; background: none}
#testimonial .nav__item:focus {outline: none}

/* Timiro - Dots */
#testimonial .nav--timiro .nav__item {overflow: hidden; width: 1.5em; height: 1.5em; margin: 0.5em .3em; border-radius: 50%; background: #4D6193; 
  -webkit-transform: scale3d(0.5,0.5,1);
	        transform: scale3d(0.5,0.5,1);
	-webkit-transition: -webkit-transform 0.5s;
	        transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	        transition-timing-function: cubic-bezier(0.2,1,0.3,1)}
#testimonial .nav--timiro .nav__item--current,
#testimonial .nav--timiro .nav__item:not(.nav__item--current):focus, 
#testimonial .nav--timiro .nav__item:not(.nav__item--current):hover {background: #0e0e23;;
  -webkit-transform: scale3d(1,1,1);
          transform: scale3d(1,1,1)}
